<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <header>
  <nav>
      <ul class="nav_list">
          <li><%= link_to "Back", unauthenticated_root_path, class: "nav-title" %></li>
          <li class="page_title">CONFIRMATION</li>
          <% if user_signed_in? %>
          <li class="sign_out">
          <p class="nav_name">Hey <%= current_user.name%></p>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-btn"%>
          </li>
          <% else %>
          <%= f.submit "Resend", class: "nav-btn" %>
          <% end %>
      </ul>
  </nav>
</header>  

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: true, class: "input" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
