<div id="<%= dom_id group %>" class="category">
  <img class="image" src="<%= group.icon %>" alt=<%= group.name %>/>
  <p class="group-info"><%= group.name %></p>
  <p class="group-info">$<%= group.total_amount %></p>
</div>
