<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>
  
  <p>
  <strong>Icon:</strong>
  <img class="rounded mx-auto" src="<%= group.icon %>" alt=<%= group.name %>/>
  </p>

  <p>
    <strong>Total:</strong>
    $<%= group.total_amount %>
  </p>

</div>
