<header>
    <nav>
        <ul class="nav_list">
            <li><%= link_to "SmartBudget", groups_path, class: "nav-title" %></li>
            <% if user_signed_in? %>
            <li class="sign_out">
            <p class="nav_name">Hey <%= current_user.name%></p>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-btn"%>
            </li>
            <% else %>
            <li><%= button_to "Sign In", new_user_session_path, class: "nav-btn"  %></li>
            <% end %>
        </ul>
    </nav>
</header>  
<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= link_to group_operations_path(group.id), class:"post_text" do %> 
    <%= render group %>
  <% end %>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
