<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div>
  <%= link_to "Edit this operation", edit_group_operation_path(@operation) %> |
  <%= link_to "Back to operations", group_operations_path %>

  <%= button_to "Destroy this operation", @group_operation, method: :delete %>
</div>
